* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #70b0dd;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    text-decoration: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui;
    height: 10vh;
}

.nav-list {
    display: flex;
    
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.container-main {
    background: rgb(250, 250, 250);
    padding: 20px;
    border-radius: 10px;
    height: 130vh;
    margin: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

li {
    list-style-type: none;
}

.box-info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.box-info-sigle {
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    margin: 0 10px;
    color: white;
}

.feed {
    width: 94%;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    margin: 20px 0;
    background-color: white;
}

.feed-single {
    display: flex;
    justify-content: space-between;
}

.feed-single h3 {
    color: grey;
    margin-bottom: 10px;
    background-color: rgb(250, 250, 250);
    padding: 3px;
    border-radius: 5px;
}

.info-text h3 {
    margin-bottom: 10px;
}

.feed-text {
    display: flex;
}

.feed-text span {
    color: black;
    display: inline-block;
    margin: 8px;

}

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-input {
    background: #fff;
    border-radius: 10px;
}

.title-cadastro {
    background: #fff;
    margin-bottom: 10px;
    padding: 20px;
}

.inputs input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid grey;
}

.product-name {
    text-align: center;
}

button {
    background: linear-gradient(45deg, #be1e1e, #ff6e6e);
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #be1e1e;
    cursor: pointer;
}

.container-links {
    background-color: #70b0dd;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 20px;
}

.links ul {
    display: flex;
    flex-direction: row;
}

.links li {
    margin-left: 10px;
}